.blueButton{
	background-color:#5D92E2;
}
.garyButton{
	background-color:#454C5E;border-width:0px 0px 0px 0px;
}
.div-padding{
	padding:10px 10px 10px 10px;
}
.titlebar-background{
	background-color:#252932;
}
.input-group-addon{
	background-color:transparent;
	border-bottom-style:solid;
	border-width:0px 0px 1px 0px;
	width:100%;
	font-size:medium;font-family:华文细黑;
	font-weight:500;color:#FFFFFF;
	text-align:left;
	border-color:#E4E4E4;
}
.background-color-black{
	background-color:rgba(28,31,38,1);
}