.titlebar{
	background-color:#252932;
	color:#868687;
}
.background-color-black{
	background-color:rgba(28,31,38,1); 
}
.rootborder{
	border-bottom-width:1px;
	border-right-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-color:#454C5E;
}
.noMarginPadding{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.noborder{
	border-width:0px 0px 0px 0px;
}