.moneycenter{ text-align:center; float:left;word-wrap: break-word;}
.moneycenterright{ text-align:right; float:right;}
/*.btn-link:active{
        color:red;
        background-color:red;
        text-decoration: none;
}*/