.row-title{
	height:100%;
	background:#252932;
	text-align:center;
}

.row-title span{
	color:white;
	font-size:1.5em;
}
.x-panel-content{
	background:#1C1F26;
}

.row-introduction{
	text-align:center;
}
.row-introduction span{
	color:white;
	font-size:1.2em;
}
.introduction >.x-row >.x-col >.btn{
	border-color:rgb(88, 115, 193);
}
.introduction-article{
	display:none;
}

p{
	padding:0 2px 0 5px;
	text-indent:2em;
	font-size:1.1em;
	color:red;
}
.x-col-33 span{
	float:right;
	color:white;
}
select {
    border: solid 1px #000;
  	width:80%;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    padding:5px 14px 5px 0;

    background: url("$UI/ZJP/images/arrow.png") no-repeat scroll right center white;

}


 select::-ms-expand { display: none; }
 .x-col-50{
	padding-left:0px;
	padding-right:0px;
}
.x-col-33{
	white-space:nowrap;
}
.x-radio-sm{
	margin-right:0px;
	z-index:10;
}
.community .x-col-50{
	padding-top:10px;
}
.btn img{
	width:20px;
	height:auto;
}
.x-popOver-content{
	background-color:rgb(179,168,150);
	width:60%;
	height:25%;
	border-radius:5px;
	box-shadow: 10px 10px 5px #888888;
}
.x-popOver-content{
	display:table;
	
}
.x-popOver-content p{
	display:table-cell;
	color:white;
	vertical-align:middle;
}
.necessary{
	padding-bottom:0;
}
.necessary .x-17{
	padding-top:0;
}

.necessary .x-col-50{
	padding-top:0;
	padding-bottom:0;
}
.x-col-67 span, .x-radio{
	color:red;
}

.create_benefit .x-col-33 span, .creat_interval .x-col-33 span, .community .x-col-33 span, .creat_email .x-col-33 span{
	line-height:32px;
}
.community_show{
	display:none;
}
.creat_interval{
	z-index:999;
}
.submit{
	text-align:left;
}
.submit .btn{
	color:white;
	border-radius:5px;
}
.common_show{
	display:none;
}
.blueButton{
	background-color:#5D92E2;
	border-width:0px 0px 0px 0px;
	width:100%;
}
.garyButton{
	background-color:#454C5E;
	border-width:0px 0px 0px 0px;
	width:100%;
	color:#FFFFFF;
}
.backgroundAll{
	background-color:#252932;
}
.backgroundD{
	background-color:#1C1F26;
}
.inputAndSelect{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color:#1C1F26;
	color:#FFFFFF;
	border-color:#2F363E;
}
.leftspan{
	color:#A6A6A6;
	position:relative;
	top:5px;
}
.normalRow{
	background-color:#252932;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:50px;
}
.nopadding{
	padding:0px 0px 0px 0px;
}
.button8{
	background-color:transparent;
	border-bottom-style:solid;
	border-width:0px 0px 1px 0px;
	width:100%;
	font-size:12px;font-family:华文细黑;
	font-weight:400;color:#FFFFFF;
	border-color:#E4E4E4;
	position:relative;top:9px;
}