/*中间部分*/
.x-col span{color:white;}
.circle{
	width:100%;position:relative;text-align: center !important;
}
.circle-box{
	width:200px;height:200px;background:#2BD0A3;margin: auto;border-radius:50%;
}
.circle-left, .circle-right{
	width:200px;height:200px;position:absolute;
}
.left{
	width:200px;height:200px;background:#EA2229;border-radius:50%;position:absolute;
}
.circle-left, .left{
	clip: rect(0,100px,auto,0);
}
.right{
	width:200px;height:200px;background:#EFA433;border-radius:50%;position:absolute;
}
.circle-right, .right{
	clip: rect(0,auto,auto,100px);
} 
.right, .left{
	
	transition: transform 2s
}
.load{
	display:table;
	height:auto;
	/* background-color:#9D9996; */
	width:100%;
	text-align:center;
	verticle:middle;
	z-index:9999;
}
.circle-text{
	width:180px;
	height:180px;
	background:#1C1F26;
	border-radius:50%;
	top:10px;
	left:10px;
	position:relative;
	z-index:99;
}
.row-title span{
	height:40px;
	font-size:20px;
	line-height:40px;
	color:#868687;
}
.row-content span{
	height:50px;
	font-size:30px;
	line-height:50px;
}
.first-bottom{
	position:absolute;
	width:100%;
	margin:0;
	background:#1C1F26;
}
/*中间的底部*/
.first-bottom .x-row{
	height:50%;
	
}
.first-bottom .x-row .x-col{
	positison:relative;
	height:100%;
	text-align:center;
}
.first-bottom .bottom-row1 .x-col span{
	font-size:20px;
	color:#868687;
}
.first-bottom .bottom-row2 .x-col span{
	font-size:20px;
	color:white;
}
/*收益明细*/
.x-list, .x-list-template{
	
	width:100%;
	height:100%;
}
.x-list-template li{
	
	width:100%;
	height:37.14%;
}
.account{
	width:100%;
	border-width:2px 0 2px 5px;
	border-style:solid;
	border-bottom-color:#F0F0F0;
	border-top-color:#F0F0F0;
	text-align:center;
	border-left-color:red;
}
.account .x-col{
	padding:0;
}
.account .x-row{
	padding:0;
}

.proportion span{
	color:#EA2229;
	font-size:2em;
	line-height:70px;
}
.earning_name span{
	display:block;
	color:#868687;
	font-size:1.3em;
	line-height:35px;
	
}
.earning_content span{
	color:#1C1F26;
	font-size:1.3em;
	line-height:35px;	
	
}

/*底部*/
 .btn-group{
	background:#1C1F26;
}
.btn {
	color:#868687;
}
.egg{
	width:30px;margin-top:-20px;
}
.nests{
	padding-top:0;
}
.index, .community{
	font-size:1.3em;
}
.btn active{
	background:#252932;
}
/*头部*/
.titlebar{
	background-color:#252932;
	color:#868687;
}
.dropdown-toggle{
	background:#252932;
	border-color:#868687;
	color:#868687;
	border-radius:5px;
}
.dropdown-toggle .btn active{
	background:#868687;
}
.nav-bar{
	background:#252932;
	height:48px;
	text-align:center;
}
.nav-bar .x-col{
	padding-top:0;
}
.title span{
	font-size:20px;
	line-height:40px;
}
.dropdown-menu{
	background:#252932;
	border-width:0 1px 0px 2px;
	border-style:solid;
	border-color:#20232A;
}
.x-menu-item{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#868687
}
/*孵化宝页面*/
.content-nest{
	
	background:#252932;
}
.production-li{
	margin-top:20px;
}
.hatched-title{
	border-top-width:5px;
	border-top-color:rgb(8,50,110);
	filter:brightness(1);
	border-top-style:solid;
	text-align:center;
}
.production{
	border-width:2px;
	borderp-color:rgb(52,158,103);
	filter:brightness(1);
	border-style:solid;
	padding:0;
}
.hatched-title span{
	color:white;
	font-size:1.2em;
}
.production-img img{
	margin-top:25%;
	
	width:100%;
	height:auto;
	float:right;
}
.production-name{
	text-align:center;
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:rgb(52,158,103);
}
.production-name .x-col{
	padding-left:0;
	padding-right:0;
}
.production-details{
	padding-left:0;
	padding-right:0;
}
.production-details .x-row{
	padding-left:0;
	padding-right:0;
}
.production-options{
	padding:0px;
}
.production-options .x-row{
	padding:0px;
}
.production-options .x-row .x-col{
	padding-top:3px;
	padding-left:0px;
	padding-right:0px;
}
.production-options .btn{
	border-color:#868687;
}
.copy{
	-webkit-user-select: text;
        user-select: text;
}
.remark{
	width:23%;
	height:30xp;
	float:right;
	display:inline;
	
}
.code{
	width:15%;
	height:20px;
	float:left;
	display:inline-block;
	
}
.remark .x-row{
	padding:0;
}
.remark .x-row .x-col{
	padding:0;
}
.remark .x-row .x-col span{
	font-size:1px;
	display:block;
	margin-bottom:10px;
}
.remark .sign{
	width:50%;
	height:15px;
	background:#2BD0A3;
}
/*显示设置二级密码窗口*/
.setSecondPassword{
	display:block;
	width:50%;
	left:25%;
	position:absolute;
	background:#1C1F26;
	height:auto;
	border-radius:10px;
}
.is_finished{
	color:#8D8E8F !important;
}
