.x-col span{color:white;}
.circle{
	width:100%;height:90%;position:absolute;text-align: center !important;
}
.circle-box{
	width:200px;height:200px;background:#2BD0A3;margin: auto;border-radius:50%;
}
.circle-left, .circle-right{
	width:200px;height:200px;position:absolute;
}
.left{
	width:200px;height:200px;background:#EA2229;border-radius:50%;position:absolute;
}
.circle-left, .left{
	clip: rect(0,100px,auto,0);
}
.right{
	width:200px;height:200px;background:#EFA433;border-radius:50%;position:absolute;
}
.circle-right, .right{
	clip: rect(0,auto,auto,100px);
} 
.right, .left{
	
	transition: transform 2s
}
.circle-text{
	width:180px;
	height:180px;
	background:#1C1F26;
	border-radius:50%;
	top:10px;
	left:10px;
	position:relative;
	z-index:99;
}
.row-title span{
	height:40px;
	font-size:20px;
	line-height:40px;
	color:#868687;
}
.row-content span{
	height:50px;
	font-size:30px;
	line-height:50px;
}
.first-bottom{
	position:absolute;
	width:100%;
	height:20%;
	top:80%;
	margin:0;
	background:#1C1F26;
}
.first-bottom .x-row{
	height:50%;
	
}
.first-bottom .x-row .x-col{
	positison:relative;
	height:100%;
	text-align:center;
}
.first-bottom .bottom-row1 .x-col span{
	font-size:20px;
	color:#868687;
}
.first-bottom .bottom-row2 .x-col span{
	font-size:20px;
	color:white;
}
.x-list, .x-list-template{
	
	width:100%;
	height:100%;
}
.x-list-template li{
	
	width:100%;
	height:37.14%;
}
.account{
	width:100%;
	height:auto;
	border-width:0 0 2px 5px;
	border-style:solid;
	border-bottom-color:#F0F0F0;
	text-align:center;
	border-left-color:red;
}
.account .x-col{
	padding:0;
}
.account .x-row{
	padding:0;
}

.proportion span{
	color:#EA2229;
	font-size:2em;
	line-height:70px;
}
.earning_name span{
	display:block;
	color:#868687;
	font-size:1.3em;
	line-height:35px;
	
}
.earning_content span{
	color:#1C1F26;
	font-size:1.3em;
	line-height:35px;	
	
}

 .btn-group{
	background:#1C1F26;
}
.btn {
	color:#868687;
}
.egg{
	width:30px;margin-top:-20px;
}
.nests{
	padding-top:0;
}
.index, .community{
	font-size:1.3em;
}
.dropdown-toggle{
	background:#252932;
	border-color:#868687;
	color:#868687;
	border-radius:5px;
}
.dropdown-toggle .btn active{
	background:#868687;
}
.nav-bar{
	background:#252932;
	height:48px;
	text-align:center;
}
.nav-bar .x-col{
	padding-top:0;
}
.title span{
	font-size:20px;
	line-height:40px;
}
.dropdown-menu{
	background:#1C1F26;
	border-width:0 2px 2px 2px;
	border-style:solid;
	border-color:#252932;
}